@font-face {
  font-family: "iconfont"; /* Project id 2693169 */
  src: url('iconfont.woff2?t=1626938101935') format('woff2'),
       url('iconfont.woff?t=1626938101935') format('woff'),
       url('iconfont.ttf?t=1626938101935') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-guanbi:before {
  content: "\e603";
}

.icon-shouji:before {
  content: "\e604";
}

