@font-face {
  font-family: "iconfont"; /* Project id 2696146 */
  src: url('iconfont.woff2?t=1627026818980') format('woff2'),
       url('iconfont.woff?t=1627026818980') format('woff'),
       url('iconfont.ttf?t=1627026818980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit-door:before {
  content: "\e622";
}

.icon-bangonglou:before {
  content: "\e609";
}

.icon-bianji:before {
  content: "\e641";
}

.icon-shanchu:before {
  content: "\e66c";
}

.icon-RARtubiao:before {
  content: "\e642";
}

.icon-shangchuan:before {
  content: "\e64c";
}

.icon-shezhi:before {
  content: "\e806";
}

.icon-yonghu:before {
  content: "\e601";
}

.icon-yuechi:before {
  content: "\e6fa";
}

.icon-yonghuguanli:before {
  content: "\e8a1";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-XLStubiao:before {
  content: "\e6c5";
}

.icon-zhuye:before {
  content: "\e69a";
}

.icon-DOC:before {
  content: "\e671";
}

.icon-shangchuan1:before {
  content: "\e651";
}

.icon-xiazai:before {
  content: "\e794";
}

