@charset "utf-8";
/* 通栏 */
.container-full{
    width: 100%;
}
/* 版心 */
.container-center{
    width: 1080px;
    margin: 0 auto;
}
/* 浮动 */
.float_left{
    float: left;
}
.float_right{
    float: right;
}
/* 页面头部 */
/* logo */
#header{
    height: 81px;

}
#header .header_logo{
    background: url(../img/logo.png) no-repeat center;
}
#header .header_logo a{
    display: block;
    height: 81px;
    width: 165px;
    text-indent: -9999px;
}
/* nav */
#header .header_nav li{
    width: 100px;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 81px;
}
#header .header_nav li a{
    display: block;
    height: 81px;
    width: 100px;
    color: #646464
}
#header .header_nav li .first{
    background: aliceblue;
}
#header .header_nav li a:hover{
    background: aliceblue;
}

/* 标题区域 */
.area_title{ 
    margin-top:60px; 
    text-align: center;
}
.area_title h2{ 
    height:18px; 
    line-height: 18px; 
    font-size:18px; 
    color:#363636; 
    background:url(../img/title_bg.png) no-repeat center center;
}
.area_title p{ 
    color:#9F9F9F; 
    font-size:14px; 
    line-height: 34px;
}