<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="./lib/vue.js"></script>
    <div id="box">
        <input type="text" v-model="myText">
        <ul>
            <li v-for="item in test" :key="item">
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: "#box",
            data: {
                myText: "",
                dataList: ["aaa", "abb", "abc", "bbb", "bbc", "bcc", "ccc"],
            },
            methods: {

            },
            computed:{
                test(){
                    return this.dataList.filter(item => item.includes(this.myText))
                }
            }
        })
    </script>
</body>

</html>