@charset "utf-8";

/* banner */

#banner {
    background: url(../../Test_6_22/images/banner.jpg) no-repeat center center;
    background-size: contain;
}

.banner-cent {
    height: 465px;
}


/* 新闻板块 */

.news-cent {
    height: 240px;
    background-color: burlywood;
}

.news-cent h3 {
    font-size: 18px;
    color: #212121;
    /* 清除文本本身高度误差 */
    line-height: 18px;
    padding-top: 36px;
}

.news_left {
    width: 479px;
    height: 240px;
    padding-left: 21px;
}

.news_list {
    width: 450px;
    height: 150px;
    margin-top: 24px;
}

.news_list li {
    background: url(../../Test_6_22/images/sousuo.png) no-repeat left center;
    line-height: 24px;
    font-size: 12px;
    height: 24px;
    padding-left: 26px;
}

.news_list li a {
    color: #535353;
    float: left;
    /* 文本溢出省略显示 */
    /* 条件一、有宽度   条件二、不换行显示  条件三、超出部分不显示  条件四、超出部分省略号显示 */
    width: 315px;
    /* 不换行显示 */
    white-space: nowrap;
    /* 隐藏超出部分 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_list li span {
    color: #929292;
    float: right;
}

.news_center {
    width: 192px;
    height: 240px;
    padding: 0 28px 0 20px;
    background-color: #f1f1f1;
}

.news_center .text1 {
    font-size: 12px;
    color: #5a5a5a;
    line-height: 25px;
    margin-top: 33px;
    /* 文本溢出省略显示 */
    /* 条件一、有宽度   条件二、不换行显示  条件三、超出部分不显示  条件四、超出部分省略号显示 */
    width: 165px;
    /* 不换行显示 */
    white-space: nowrap;
    /* 隐藏超出部分 */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.news_center .text1 span {
    font-size: 10px;
}

.news_center .text2 {
    font-size: 12px;
    color: #5a5a5a;
    line-height: 24px;
    /* 文本溢出省略显示 */
    /* 条件一、有宽度   条件二、不换行显示  条件三、超出部分不显示  条件四、超出部分省略号显示 */
    width: 175px;
    /* 不换行显示 */
    white-space: nowrap;
    /* 隐藏超出部分 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-cent a {
    font-size: 12px;
    color: #5a5a5a5a;
}

.news_right {
    width: 242px;
    height: 240px;
    background-color: #fbfbfb;
}