<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/swiper/css/swiper.css">
    <script src="./lib/vue.next.js"></script>
    <script src="./lib/swiper/js/swiper.js"></script>
    <style>
        .swiper-container {
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body>
    <div id="box">
        <swiper v-if='datalist.length' :loop="true" :autoplay='autoplay'>
            <swiper-item v-for="data in datalist" :key='data'>
                <img :src="data" :alt="data" :title="data">
            </swiper-item>
        </swiper>
    </div>
    <script>

        var obj = {
            el: '#box',
            data() {
                return{
                    datalist: [],
                    autoplay: {
                        delay: 1500,
                        stopOnLastSlide: false,
                        disableOnInteraction: true,
                    }
                }
            },
            mounted() {
                setTimeout(() => {
                    this.datalist = ["https://static.maizuo.com/pc/v5/usr/movie/e856bdc65507b99800f22e47801fa781.jpg",
                        "https://static.maizuo.com/pc/v5/usr/movie/47aa5a3ad2ebff403d073288e4365694.jpg",
                        "https://static.maizuo.com/pc/v5/usr/movie/8b0755547313706883acc771bda7709d.jpg"
                    ]
                }, 2000)
            }
        }
        var app = Vue.createApp(obj)
        app.component('swiperItem', {
            template: `
            <div class="swiper-slide">
                <slot></slot>
            </div>
            `
        })
        app.component('swiper', {
            props: {
                loop: {
                    type: Boolean,
                    default: true
                },
                autoplay: {
                    type: Object,
                    default: {
                        delay: 1500,
                        stopOnLastSlide: false,
                        disableOnInteraction: true,
                    }
                }
            },
            template: `
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <slot></slot>
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            `,
            mounted() {
                new Swiper('.swiper-container', {
                    loop: this.loop, // 循环模式选项
                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    autoplay: this.autoplay
                })
            }
        })
        app.mount('#box')
    </script>
</body>

</html>